
/* Seletor Universal 
* {
	border: 1px solid red;
} */

/* Seletor de texto 
h1 { color: green; } */

/***** Seletor de classe*****/

/*
.verde {
	color: green;
}
p.verde {
	color: green;
}
*/

/***** Seletor de ID ****

#cabecalho {
	color: red;
	border: 1px solid red;
}

/***** Seletor de Filho *****

li>a {
	color: red;
	text-decoration: none;
}

/***** Seletor de Descendente ****
p a {
	color:  green;
}
*/

/***** Seletor de Irmão Adjacente *****
h1+p {
	color: red;
} */

/***** Seletor de Irmão Geral *****
h1~p {
	color: pink;
} 

*/

/***** Layout estilos****/

/*
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: #fff url(imagens/coluna.png) repeat-y left top;
	min-width: 820px;
}

#marca {
	height: 200px;
	background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 200px;
}

#conteudo {
	width: 74%; /*fez regrad de 3 baseado nos 700px
	float: right;
}


#conteudo-principal {
	width: 63%;
	float: left;
}

#conteudo-secundario {
	width: 34%;
	float: right;
	background: #d1d1d1;
}
	
#navegacao {
	width: 24%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/* background: #d1d1d1; *
} 

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

/*
#imagem {
	width: 90px;
	overflow: hidden;
} *

img.img-noticia {
	width: 94%;
	padding: 2%;
	max-width: 600px;
}
*/


/*
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
	width: 600px;
	border-collapse: separate; /*collapse/;
}

th, td {
	padding: 7px;
	border-bottom: 1px solid lightgray;
}

th {
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}

tr.alternado {
	background-color: #efefef;
}

tr:hover {
	background-color: #c3e6e5;
}

.numero {
	text-align: right;
}
*/


		/* Formulários estilizados */
/*
body {
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
}

input [type="text"] {
	width: 20em;
}

textarea {
	width: 20em;
	height: 10em;
}

*/

	/* Formulários estilizados - Parte 2 */
/*
body {
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url(imagens/fundo.jpg) no-repeat top center;
}

#container {
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}

#container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input {
	width: 80%;
	height: 40px;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

input.email {
	background-image: url(imagens/icone-usuario.png);
}

input.senha {
	background-image: url(imagens/icone-cadeado.png);
}

input.submit {
	color: #fff;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;

	background: linear-gradient(to bottom, #faa600, #f68a00);
} 
*/

		/* Arrendondamento com imagens */

.caixa {
	width: 400px;
	background: #dedede url(imagens/fundo-arredondamento.png) repeat-y;
}

/*
.caixa p {
	padding: 0px 20px 20px 20px;
	background: url(imagens/baixo2.png) no-repeat left bottom;
}

.caixa h2 {
	padding: 10px 20px 0 20px;
}
*/

.caixa h2 {
	padding: 10px 20px 0 20px;
	background: url(imagens/topo2.png) no-repeat left top;
}

.caixa p {
	padding: 0 20px;
}

.caixa .ultimo {
	padding-bottom: 20px;
	background: url(imagens/baixo2.png) no-repeat left bottom;
}
